%% -*- erlang -*-
[{lasp, [{membership, true},
         {storage_backend, lasp_ets_storage_backend},
         {mode, delta_based},
         {delta_interval, 1000}]},

{plumtree, [{broadcast_exchange_timer, 10000},
           {broadcast_mods, [lasp_plumtree_backend]}]},

{partisan, [{partisan_peer_service_manager,
            partisan_hyparview_peer_service_manager}]}
].
