{deps, [grisp]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "20.2"}
    ]},
    {deploy, [
        {pre_script, "rm -rf /media/laymer/GRISP/*"},
        {destination, "/media/laymer/GRISP"},
        {post_script, "umount /media/laymer/GRISP"}
    ]},
    {toolchain, [
      {root, "/home/laymer/EdgeComputing/GRiSP/grisp-software/rtems-install/rtems-4.12"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {robot, "0.1.0"}, [robot]}
]}.
