%% -*- erlang -*-
[{node, [
    {foo, bar}
]},

{lasp, [{membership, true},
         {storage_backend, lasp_ets_storage_backend},
         {mode, state_based},
         % see https://github.com/lasp-lang/lasp/commit/a9422207e554e47495c7c488450a238274844eb9
         {propagate_on_update, true},
         {plumtree_peer_refresh_interval, 2000},
         {state_sync_interval, 1000},
         {delta_interval, 100}]},
{lager, [
  {handlers, [
    {lager_console_backend, critical}
  ]}
]},

{plumtree, [{broadcast_exchange_timer, 100},
           {broadcast_mods, [lasp_plumtree_backend]}]},

{partisan, [{partisan_peer_service_manager,
            partisan_hyparview_peer_service_manager},
            {gossip_interval, 2000}]},

{grisp, [{drivers, [
                {spi, grisp_spi_drv},
                {gpio, grisp_gpio_drv},
                {i2c, grisp_i2c_drv}
            ]},
        {devices, [
            % {gpio1, pmod_amp2},
            % {uart, pmod_maxsonar},
            % {spi1, pmod_gyro},
            % {spi1, pmod_nav},
            {spi2, pmod_als}
        ]}
    ]}
].
