%% -*- erlang -*-
[{lasp, [{membership, true},
         {storage_backend, lasp_ets_storage_backend},
         {mode, state_based},
         {delta_interval, 100}]},

{plumtree, [{broadcast_exchange_timer, 100},
           {broadcast_mods, [lasp_plumtree_backend]}]},

{partisan, [{partisan_peer_service_manager,
            partisan_hyparview_peer_service_manager}]},

{grisp, [{drivers, [
                {spi, grisp_spi_drv_emu},
                {gpio, grisp_gpio_drv_emu},
                {i2c, grisp_i2c_drv_emu}
            ]},
        {devices, [
            {spi1, pmod_nav}
        ]}
    ]}
].
