.rebar3
!_checkouts/
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build/
.idea
rebar3.crashdump

# GRiSP
_grisp
!_checkouts/grisp/src/*
!_checkouts/grisp/grisp_base/*

# Partisan
!_checkouts/partisan/src
