{deps, [
    grisp,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
    partisan,
    {lasp, {git, "https://github.com/lasp-lang/lasp.git", {branch, "master"}}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "21.0"}
    ]},
    {toolchain, [
      % {root, "/home/laymer/NewGRiSP/grisp-software/rtems-install/rtems/5"}
      {root, "/media/alex/external1/grisp/grisp-software/rtems-install/rtems/5"}
    ]},
    {build, [
        {toolchain, [
          % {directory,"/home/laymer/NewGRiSP/grisp-software/rtems-install/rtems/5"}]}
          {directory,"/media/alex/external1/grisp/grisp-software/rtems-install/rtems/5"}]}
    ]},
    {deploy, [
        {pre_script, "rm -rf /media/laymer/GRISP/*"},
        {destination, "/media/laymer/GRISP"},
        {post_script, "umount /media/laymer/GRISP"}
    ]}
]}.



{shell, [{apps, []},
        {config, "config/sys.config"}]}.
% {shell, [{apps, []}]}.

{relx, [
    {release, {node , "0.1.0"}, [
        {epmd, none},
        {lasp, load},
        {partisan, load},
        {lager, load},
        node
    ]},
    {sys_config, "config/sys.config"}
]}.
