{deps, [
  grisp,
  lasp,
  {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
  {chronos, "0.5.1", {git, "git://github.com/lehoff/chronos.git", {ref, "c6ab87b"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.9.0"}}},
  {meck, "0.8.9"}
  % {faker, {elixir, "faker" ,"0.6.0"}}
]}.

{erl_opts, [debug_info]}.

{plugins, [
  {erl_tidy_prv_fmt, ".*", {git, "git://github.com/tsloughter/erl_tidy.git", {branch, "master"}}}
  % {rebar3_elixir_compile, ".*", {git, "https://github.com/tsloughter/rebar3_elixir_compile.git", {branch, "master"}}}
]}.

% {provider_hooks, [
%   {pre, [{compile, {ex, compile}}]},
%   {pre, [{release, {ex, compile}}]}
% ]}.

% {elixir_opts,
%   [
%     {env, dev}
%   ]
% }.

{grisp, [
    {otp, [
        {version, "20.2"}
    ]},
    {toolchain, [
      % {root, "/Users/Laymer/GRISP/grisp-software/rtems-install/rtems-4.12"}
      % {root, "/home/laymer/GRISP/grisp-software/rtems-install/rtems-4.12"}
      {root, "/home/laymer/EdgeComputing/GRiSP/grisp-software/rtems-install/rtems-4.12"}
    ]},
    {build, [
        {toolchain, [
          {directory,"/home/laymer/EdgeComputing/GRiSP/grisp-software/rtems-install/rtems-4.12"}]}
          % {directory,"/Users/Laymer/GRiSP/grisp-software/rtems-install/rtems-4.12"}]}
    ]},
    {deploy, [
        % {pre_script, "rm -rf /Volumes/GRISP/*"},
        % {destination, "/Volumes/GRISP"},
        % {post_script, "diskutil unmount /Volumes/GRISP"}
        {pre_script, "rm -rf /media/laymer/GRISP/*"},
        {destination, "/media/laymer/GRISP"},
        {post_script, "umount /media/laymer/GRISP"}
    ]}
]}.

{fmt_opts, [
  {auto_list_comp, true},
  {new_guard_tests, true},
  {verbose, true},
  {keep_unused, true}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {node , "0.1.0"}, [{epmd, none}, node]},
    {sys_config, "config/sys.config"}
]}.

{profiles, [
    {test, [
        {shell, [
            {apps, []},
            {config, "config/test.config"}
        ]},
        {relx, [
            % {release, {node , "0.1.0"}, [{epmd, none}, node]},
            {sys_config, "config/test.config"}
        ]},
        {fmt_opts, [
            {auto_list_comp, true},
            {new_guard_tests, true},
            {test, true},
            {keep_unused, true}
        ]}
    ]}
]}.
% {profiles, [
%     {prod,
%       % {deps, [{jsx, "2.8.0"},
%       %         {erlcloud, "2.0.4"},
%       %         {webmachine, {git, "https://github.com/webmachine/webmachine", {tag, "master"}}},
%       %         {sprinter, {git, "git://github.com/lasp-lang/sprinter.git", {tag, "master"}}},
%       %         {eredis, {git, "git://github.com/wooga/eredis.git", {tag, "master"}}}]},
%       % {src_dirs, ["src", "simulations"]},
%       % {extra_src_dirs, ["simulations"]},
%       {relx, [
%               {release, {node , "0.1.0"}, [{epmd, none}, node]},
%               % {extended_start_script, true},
%
%               {dev_mode, false},
%               {include_erts, true},
%
%               {sys_config, "config/sys.config"},
%               % {vm_args, "config/vm.args"},
%
%               {overlay, [{mkdir, "log/sasl"},
%                       {mkdir, "data/"},
%                       {copy, "bin/env", "bin"},
%                       {copy, "bin/ienv", "bin"}
%                       ]}]}
%           ]},
%     {test,
%      [{erl_opts, [nowarn_export_all, nowarn_deprecated_function]},
%       {deps, [{jsx, "2.8.0"},
%               {erlcloud, "2.0.4"},
%               {webmachine, {git, "https://github.com/webmachine/webmachine", {tag, "master"}}},
%               {sprinter, {git, "git://github.com/lasp-lang/sprinter.git", {tag, "master"}}},
%               {eredis, {git, "git://github.com/wooga/eredis.git", {tag, "master"}}}]},
%       {extra_src_dirs, ["simulations"]}
%      ]}
% ]}.
% eqxvH-kEyTpDR3UGV5_s
