{erl_opts, [debug_info]}.

{plugins, [
    { rebar3_elixir_compile, ".*", {git, "https://github.com/barrel-db/rebar3_elixir_compile.git", {branch, "master"}}}
]}.

{deps, [
    grisp,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
    partisan,
    {lasp, {git, "https://github.com/lasp-lang/lasp.git", {branch, "master"}}},
    {numerix, {elixir, "numerix", "0.5"}},
    {gen_stage, {elixir, "gen_stage", "0.14.0"}},
    {flow, {elixir, "flow", "0.14.0"}}
]}.

{provider_hooks, [
  {pre, [{compile, {ex, compile}}]},
  {pre, [{release, {ex, compile}}]}
]}.

{erl_opts, [debug_info,
    {parse_transform, lager_transform}]}.

{grisp, [
    {otp, [
        {version, "21.0"}
    ]},
    {toolchain, [
      % {root, "/home/laymer/NewGRiSP/grisp-software/rtems-install/rtems/5"}
      % {root, "/Users/oxynad/Documents/thesis/newGRiSP/grisp-software/rtems-install/rtems/5"}
      {root, "/home/laymer/EdgeComputing/NewGRiSP/grisp-software/rtems-install/rtems/5"}
      % {root, "/media/alex/external1/grisp/grisp-software/rtems-install/rtems/5"}
    ]},
    {build, [
        {toolchain, [
          % {directory,"/home/laymer/NewGRiSP/grisp-software/rtems-install/rtems/5"}]}
          % {directory,"/home/laymer/EdgeComputing/NewGRiSP/grisp-software/rtems-install/rtems/5"}]} % Igor
          % {directory,"/Users/oxynad/Documents/thesis/newGRiSP/grisp-software/rtems-install/rtems/5"}]} % Dan
          % {directory,"/media/alex/external1/grisp/grisp-software/rtems-install/rtems/5"}]}
          {directory,"/home/laymer/EdgeComputing/NewGRiSP/grisp-software/rtems-install/rtems/5"}]}
    ]},
    {deploy, [
        {pre_script, "rm -rf /media/laymer/GRISP/*"}, % Igor
        {destination, "/media/laymer/GRISP"}, % Igor
        {post_script, "umount /media/laymer/GRISP"} % Igor
        % {pre_script, "rm -rf /Volumes/GRISP/*"}, % Dan
        % {destination, "/Volumes/GRISP"}, % Dan
        % {post_script, "diskutil unmount /Volumes/GRISP"} % Dan
    ]}
]}.

{shell, [{apps, []},
        {config, "config/sys.config"}]}.

{elixir_opts,
  [
    {env, dev}
  ]
}.

{relx, [
    {release, {node , "0.1.0"}, [
        {epmd, none},
        {lasp, load},
        {partisan, load},
        {lager, load},
        node
    ]},
    {sys_config, "config/sys.config"},
    {extended_start_script, true}
]}.
