{deps, [
 grisp,
 lasp,
 {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "20.2"}
    ]},
    {deploy, [
      {destination, "/home/laymer/GRiSP/stationdest"}
    ]},
    {toolchain, [
      {root, "/home/laymer/GRiSP/grisp-software/rtems-install/rtems-4.12"}
    ]}
]}.

% {shell, [{apps, []},
%          {config, "config/sys.config"}]}.
{shell, [{apps, []}]}.

{relx, [
    {release, {station, "0.1.0"}, [{epmd, none}, station]}
]}.
