
{deps, [
 grisp,
 {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
 lager,
 lasp,
 partisan
]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{grisp, [
    {otp, [
        {version, "20.2"}
    ]},
    {deploy, [
        {pre_script, "rm -rf /home/laymer/GRiSP/robotdest/*"},
        {destination, "/home/laymer/GRiSP/robotdest"}
    ]},
    {toolchain, [
      {root, "/home/laymer/GRiSP/grisp-software/rtems-install/rtems-4.12"}
    ]}
]}.

{shell, [{apps, [lager]},
         {config, "config/sys.config"}]}.

{relx, [
    {release, {robot, "0.1.0"}, [{epmd, none}, lager, lasp, partisan, robot]}
]}.
