
{deps, [
 grisp,
 {lasp, {git,"https://github.com/lasp-lang/lasp", "master"}},
 {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "20.2"}
    ]},
    {deploy, [
        {pre_script, "rm -rf /home/laymer/GRiSP/robotdest/*"},
        {destination, "/home/laymer/GRiSP/robotdest"}
    ]},
    {toolchain, [
      {root, "/home/laymer/GRiSP/grisp-software/rtems-install/rtems-4.12"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {robot, "0.1.0"}, [{epmd, none}, robot]}
]}.
